<div class="row">
  <div class="col-xs-12">
    <ng2-toasty></ng2-toasty>
    <form [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]="!bookForm.valid" title="Please enter all the mandatory fields to make this enable">Save</button>
          <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="isbn">ISBN<span class="star">*</span></label>
            <input
              type="text"
              id="isbn"
              class="form-control"
              placeholder="123-123-123"
              formControlName="isbn">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="bookName">Name<span class="star">*</span></label>
            <input
              type="text"
              id="bookName"
              class="form-control"
              placeholder="Please enter book name"
              formControlName="bookName">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="type">Type<span class="star">*</span></label>
            <input
              type="text"
              id="type"
              class="form-control"
              placeholder="Children, Biographies etc."
              formControlName="type">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="author">Author<span class="star">*</span></label>
            <input
              type="text"
              id="type"
              class="form-control"
              placeholder="Please enter author"
              formControlName="author">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="startDate">Start Date<span class="star">*</span></label>
            <input
              type="date"
              id="startDate"
              class="form-control"
              formControlName="startDate">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="completeDate">Complete Date<span class="star">*</span></label>
            <input
              type="date"
              id="completeDate"
              class="form-control"
              formControlName="completeDate">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="revision">Revision</label>
            <input
              type="checkbox"
              id="revision"
              formControlName="revision">
          </div>
        </div>
      </div>
      <cite><span class="star">*</span> mandatory fields</cite>
    </form>
  </div>
</div>
